@use "../../presets" as *;
@use "../../mixins" as *;

.skills-item {
  position: relative;

  overflow: hidden;

  background-color: $color-primary;
  &__title {
    z-index: 1;

    margin: 0;

    letter-spacing: 0.1em;

    font-family: $font-main;
    font-size: 20px;

    @include abs-position;
    @include md-min {
      font-size: 1.25rem; // 20px;
    }
    @include md {
      font-size: 1.125rem; // 18px ;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: $gap;

    transition: color 0.3s;
  }
  &__image {
    transition: transform 0.3s;

    background-position: center;
    background-size: cover;

    @include abs-position;
  }
  &__overlay {
    transition: background-color 0.3s;

    background-color: rgba($color-primary, 0.8);

    @include abs-position;
  }
  &:hover {
    .skills-item__overlay {
      background-color: rgba($color-primary, 0.949);
    }
    .skills-item__image {
      transform: scale(1.1);
    }
    .skills-item__link {
      color: $color-accent;
    }
  }
}

@for $i from 1 through 9 {
  .skills-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
